.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: justify
    }
.calibre1 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1pt;
    text-align: center;
    text-indent: 0
    }
.calibre10 {
    height: 766px;
    vertical-align: baseline;
    width: 500px
    }
.calibre11 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3pt;
    text-align: center;
    text-indent: 0
    }
.calibre12 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2pt;
    text-align: center;
    text-indent: 0
    }
.calibre13 {
    font-size: 1.41667em;
    line-height: 1.2
    }
.calibre14 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-align: justify;
    text-indent: 0
    }
.calibre15 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1pt;
    text-align: justify;
    text-indent: 1em
    }
.calibre16 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.calibre17 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2pt;
    text-align: justify;
    text-indent: 0
    }
.calibre18 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10pt;
    text-align: center;
    text-indent: 0
    }
.calibre19 {
    display: block;
    height: 1pt
    }
.calibre2 {
    font-size: 1.66667em;
    line-height: 1.2
    }
.calibre20 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 0
    }
.calibre21 {
    display: list-item;
    margin-top: 1pt;
    text-align: justify;
    text-indent: 0
    }
.calibre22 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 9pt;
    text-align: left;
    text-indent: 0
    }
.calibre23 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.calibre24 {
    color: #000
    }
.calibre25 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 2pt;
    text-align: justify;
    text-indent: 0
    }
.calibre26 {
    font-size: 0.75em
    }
.calibre27 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 2em;
    text-align: center;
    text-indent: 0
    }
.calibre28 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 9pt;
    text-align: justify;
    text-indent: 1em
    }
.calibre29 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 9pt;
    text-align: justify;
    text-indent: 0
    }
.calibre3 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10pt;
    text-align: left;
    text-indent: 0
    }
.calibre30 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify;
    text-indent: 0
    }
.calibre31 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 2pt
    }
.calibre32 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.calibre33 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 3pt;
    text-align: justify;
    text-indent: 0
    }
.calibre34 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 1pt;
    text-align: justify;
    text-indent: 0
    }
.calibre35 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1pt;
    text-align: left;
    text-indent: 0
    }
.calibre36 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre37 {
    display: table-row;
    vertical-align: middle
    }
.calibre38 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit
    }
.calibre39 {
    display: block
    }
.calibre4 {
    font-size: 1.125em;
    line-height: 1.2
    }
.calibre40 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.calibre41 {
    display: list-item;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.calibre42 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3pt;
    text-align: justify;
    text-indent: 1em
    }
.calibre43 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2pt;
    text-align: justify;
    text-indent: 1em
    }
.calibre44 {
    display: block;
    height: 2pt
    }
.calibre45 {
    display: list-item;
    margin-top: 1pt;
    text-align: left;
    text-indent: 0
    }
.calibre46 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1pt;
    text-indent: 0
    }
.calibre47 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre48 {
    font-size: 0.77778em
    }
.calibre49 {
    font-size: 0.71429em
    }
.calibre5 {
    color: blue
    }
.calibre50 {
    font-family: monospace
    }
.calibre51 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 9pt;
    text-align: justify;
    text-indent: 0
    }
.calibre52 {
    display: block;
    height: 3pt
    }
.calibre53 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 0
    }
.calibre54 {
    height: 990px;
    vertical-align: baseline;
    width: 557px
    }
.calibre55 {
    display: block;
    height: 1em
    }
.calibre56 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5pt;
    text-align: right;
    text-indent: 0
    }
.calibre57 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 1pt;
    text-align: left;
    text-indent: 0
    }
.calibre58 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1pt;
    text-align: justify;
    text-indent: 0
    }
.calibre6 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 3pt
    }
.calibre7 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.calibre8 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 1pt
    }
.calibre9 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-align: center;
    text-indent: 0
    }
.italic {
    font-style: italic
    }
.mbppagebreak {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    page-break-after: always
    }
.underline {
    text-decoration: underline
    }
