.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: justify
    }
.calibre1 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 2em;
    text-align: center;
    text-indent: 0
    }
.calibre10 {
    color: #444
    }
.calibre11 {
    display: block
    }
.calibre12 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 0
    }
.calibre13 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3em;
    text-align: center;
    text-indent: 0
    }
.calibre14 {
    display: block;
    height: 1em
    }
.calibre15 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 0
    }
.calibre16 {
    display: list-item;
    margin-top: 0;
    text-indent: 0
    }
.calibre17 {
    display: block;
    list-style-type: circle;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre18 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-align: center;
    text-indent: 0
    }
.calibre19 {
    background-color: #abb
    }
.calibre2 {
    font-size: 1.83333em;
    line-height: 1.2
    }
.calibre20 {
    color: #355
    }
.calibre21 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre22 {
    display: table-row;
    vertical-align: middle
    }
.calibre23 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit
    }
.calibre24 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4pt;
    text-indent: 0
    }
.calibre25 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3em;
    text-align: right;
    text-indent: 0
    }
.calibre26 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: right;
    text-indent: 0
    }
.calibre27 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-indent: 0
    }
.calibre28 {
    color: #255
    }
.calibre29 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre3 {
    color: #555
    }
.calibre30 {
    display: list-item;
    margin-top: 1em;
    text-indent: 0
    }
.calibre31 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.calibre32 {
    font-size: 1.41667em;
    line-height: 1.2
    }
.calibre33 {
    color: #445
    }
.calibre34 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10pt;
    text-indent: 0
    }
.calibre35 {
    background-color: #dee;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit
    }
.calibre36 {
    color: rgb(144, 17, 125)
    }
.calibre37 {
    background-color: #dee
    }
.calibre38 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 11pt;
    text-indent: 0
    }
.calibre39 {
    color: #227
    }
.calibre4 {
    font-size: 1.125em;
    line-height: 1.2
    }
.calibre40 {
    color: #151
    }
.calibre41 {
    font-size: 0.75em
    }
.calibre42 {
    color: #551
    }
.calibre43 {
    color: #999
    }
.calibre44 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 9pt;
    text-indent: 0
    }
.calibre45 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6pt;
    text-indent: 0
    }
.calibre46 {
    display: list-item;
    margin-top: 11pt;
    text-indent: 0
    }
.calibre47 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 3em;
    text-align: center;
    text-indent: 0
    }
.calibre48 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre49 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 10pt;
    text-indent: 0
    }
.calibre5 {
    color: #777
    }
.calibre50 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3em;
    text-indent: 0
    }
.calibre51 {
    display: table-cell;
    font-weight: bold;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    vertical-align: inherit
    }
.calibre52 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.calibre53 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 2em;
    text-indent: 0
    }
.calibre54 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.calibre55 {
    display: table-row;
    text-align: center;
    vertical-align: middle
    }
.calibre56 {
    display: table-cell;
    font-weight: bold;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: center;
    vertical-align: inherit
    }
.calibre57 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: center;
    vertical-align: inherit
    }
.calibre58 {
    border: 1px inset;
    color: gray;
    display: block;
    height: 2px;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    text-indent: 43%
    }
.calibre59 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.calibre6 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 9pt;
    text-align: center;
    text-indent: 0
    }
.calibre60 {
    display: block;
    height: 3em
    }
.calibre61 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 14pt;
    text-indent: 0
    }
.calibre62 {
    height: 31px;
    vertical-align: baseline;
    width: 17px
    }
.calibre63 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 2pt;
    text-indent: 0
    }
.calibre64 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 0
    }
.calibre65 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 8pt;
    text-indent: 0
    }
.calibre66 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 12pt;
    text-indent: 0
    }
.calibre67 {
    height: 73px;
    vertical-align: baseline;
    width: 216px
    }
.calibre68 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 0
    }
.calibre69 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: sub
    }
.calibre7 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 13pt;
    text-align: center;
    text-indent: 0
    }
.calibre70 {
    font-size: 0.77778em
    }
.calibre71 {
    font-size: 0.71429em
    }
.calibre72 {
    display: block;
    height: 14pt
    }
.calibre73 {
    display: list-item;
    margin-top: 14pt;
    text-indent: 0
    }
.calibre74 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4em;
    text-indent: 0
    }
.calibre75 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0
    }
.calibre76 {
    color: #238
    }
.calibre77 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3pt;
    text-indent: 0
    }
.calibre78 {
    height: 152px;
    vertical-align: baseline;
    width: 127px
    }
.calibre79 {
    height: 152px;
    vertical-align: baseline;
    width: 102px
    }
.calibre8 {
    font-size: 0.41667em
    }
.calibre80 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.calibre81 {
    display: block;
    margin-bottom: 0;
    margin-left: 19pt;
    margin-right: 0;
    margin-top: 1em;
    text-indent: -19pt
    }
.calibre82 {
    display: block;
    margin-bottom: 0;
    margin-left: 19pt;
    margin-right: 0;
    margin-top: 0;
    text-indent: -19pt
    }
.calibre9 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.italic {
    font-style: italic
    }
.mbppagebreak {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    page-break-after: always
    }
.underline {
    text-decoration: underline
    }
