.calibre {
    background-color: white;
    color: black;
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre10 {
    font-style: italic
    }
.calibre11 {
    border-width: 0;
    height: auto;
    width: auto
    }
.calibre12 {
    font-size: 0.75em
    }
.calibre13 {
    display: block;
    page-break-after: always
    }
.calibre14 {
    font-size: 0.77778em;
    line-height: normal;
    vertical-align: super
    }
.calibre15 {
    font-size: 0.77778em
    }
.calibre16 {
    font-family: monospace
    }
.calibre17 {
    display: block;
    text-align: right
    }
.calibre18 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre19 {
    line-height: 1.2
    }
.calibre2 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em
    }
.calibre20 {
    display: block;
    font-weight: bold;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em
    }
.calibre21 {
    border: 1px inset;
    color: gray;
    display: block;
    height: 2px;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    text-align: left;
    width: 40%
    }
.calibre22 {
    font-size: 0.71429em
    }
.calibre23 {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em
    }
.calibre24 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre25 {
    display: list-item
    }
.calibre26 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em
    }
.calibre27 {
    display: block;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em
    }
.calibre28 {
    height: auto;
    width: auto
    }
.calibre29 {
    display: table-caption;
    text-align: bottom
    }
.calibre3 {
    display: block;
    line-height: 1.2
    }
.calibre30 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: sub
    }
.calibre31 {
    font-size: 0.55556em
    }
.calibre32 {
    text-decoration: underline
    }
.calibre33 {
    display: block;
    font-family: monospace;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    white-space: pre
    }
.calibre34 {
    font-size: 0.77778em;
    line-height: normal;
    vertical-align: sub
    }
.calibre35 {
    font-family: monospace;
    line-height: 1.2
    }
.calibre36 {
    display: block;
    text-align: center
    }
.calibre37 {
    display: block;
    font-size: 0.75em;
    font-weight: bold;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em
    }
.calibre38 {
    height: 310px;
    width: auto
    }
.calibre4 {
    display: block;
    text-align: left
    }
.calibre5 {
    display: block
    }
.calibre6 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre7 {
    display: table-row;
    vertical-align: middle
    }
.calibre8 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit
    }
.calibre9 {
    font-weight: bold
    }
.chapterheading {
    display: block;
    font-size: 0.70833em;
    line-height: 1.2
    }
.footnote {
    display: block;
    font-size: 0.75em
    }
.smallprint {
    color: gray;
    display: block;
    font-size: 0.75em;
    text-align: right
    }
