.author {
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    background: transparent;
    border: 0;
    color: #8e0012;
    display: block;
    font-family: "Free Sans Bold", sans-serif;
    font-size: 1.66667em;
    font-weight: bold;
    hyphens: none;
    line-height: 1.2;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    outline: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    vertical-align: baseline
    }
.book {
    background: transparent;
    border: 0;
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    outline: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
.c {
    background: transparent;
    border: 0;
    color: #35586C;
    font-family: "Ubuntu Mono", monospace;
    font-size: 1em;
    font-style: italic;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    outline: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
.c1 {
    background: transparent;
    border: 0;
    color: #09F;
    font-family: "Ubuntu Mono", monospace;
    font-size: 1em;
    font-style: italic;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    outline: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
.calibre {
    background: transparent;
    border: 0;
    display: block;
    font-family: "Free Serif", serif;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    outline: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
.calibre1 {
    background: transparent;
    border: 0;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    outline: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
.calibre10 {
    display: block
    }
.calibre2 {
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    background: transparent;
    border: 0;
    color: #000;
    display: block;
    font-family: "Free Sans Bold", sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    hyphens: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    outline: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
.calibre3 {
    background: transparent;
    border: 0;
    display: block;
    font-size: 1em;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    outline: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
.calibre4 {
    background: transparent;
    border: 0;
    font-size: 1em;
    height: auto;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    max-width: 95%;
    outline: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline;
    width: auto
    }
.calibre5 {
    border: 1px inset;
    color: gray;
    display: block;
    height: 2px;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    width: 50%
    }
.calibre6 {
    background: transparent;
    border: 0;
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 8px;
    outline: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
.calibre7 {
    background: transparent;
    border: 0;
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    outline: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: always;
    vertical-align: baseline
    }
.calibre8 {
    background: transparent;
    border: 0;
    font-family: serif;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    outline: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
.calibre9 {
    background: transparent;
    border: 0;
    font-size: 1em;
    font-style: italic;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    outline: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
.copyright {
    background: transparent;
    border: 0;
    display: block;
    font-size: 1em;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    outline: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
.cp {
    background: transparent;
    border: 0;
    color: #099;
    font-family: "Ubuntu Mono", monospace;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    outline: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
.editor {
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    background: transparent;
    border: 0;
    display: block;
    font-family: serif;
    font-size: 1em;
    font-weight: normal;
    hyphens: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    outline: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
.err {
    background: transparent;
    border: 0;
    color: #A00;
    font-family: "Ubuntu Mono", monospace;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    outline: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
.figure {
    -webkit-border-radius: 5px;
    background: transparent;
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 5px;
    display: block;
    font-size: 1em;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    outline: 0;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    page-break-inside: avoid;
    text-align: center;
    vertical-align: baseline
    }
.firstname {
    background: transparent;
    border: 0;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    outline: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
.informalfigure {
    background: transparent;
    border: 0;
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    outline: 0;
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 5px;
    text-align: center;
    vertical-align: baseline
    }
.itemizedlist {
    background: transparent;
    border: 0;
    display: block;
    font-size: 1em;
    list-style-type: square;
    margin-bottom: 8px;
    margin-left: 5px;
    margin-right: 0;
    margin-top: 8px;
    outline: 0;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
.kd {
    background: transparent;
    border: 0;
    color: #069;
    font-family: "Ubuntu Mono", monospace;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    outline: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
.legalnotice {
    background: transparent;
    border: 0;
    display: block;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    outline: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
.listitem {
    background: transparent;
    border: 0;
    display: list-item;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    outline: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
.literal {
    background: transparent;
    border: 0;
    font-family: "Ubuntu Mono", monospace;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    outline: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
.literal1 {
    background: transparent;
    border: 0;
    font-family: "Ubuntu Mono", monospace;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    outline: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
.literal2 {
    background: transparent;
    border: 0;
    font-family: "Ubuntu Mono Bold", monospace;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    outline: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
.mi {
    background: transparent;
    border: 0;
    color: #F60;
    font-family: "Ubuntu Mono", monospace;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    outline: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
.na {
    background: transparent;
    border: 0;
    color: #309;
    font-family: "Ubuntu Mono", monospace;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    outline: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
.nb {
    background: transparent;
    border: 0;
    color: #366;
    font-family: "Ubuntu Mono", monospace;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    outline: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
.nc {
    background: transparent;
    border: 0;
    color: #0A8;
    font-family: "Ubuntu Mono", monospace;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    outline: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
.nf {
    background: transparent;
    border: 0;
    color: #C0F;
    font-family: "Ubuntu Mono", monospace;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    outline: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
.ni {
    background: transparent;
    border: 0;
    color: #999;
    font-family: "Ubuntu Mono", monospace;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    outline: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
.no {
    background: transparent;
    border: 0;
    color: #360;
    font-family: "Ubuntu Mono", monospace;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    outline: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
.nt {
    background: transparent;
    border: 0;
    color: #309;
    font-family: "Ubuntu Mono", monospace;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    outline: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
.nx {
    background: transparent;
    border: 0;
    color: #008;
    font-family: "Ubuntu Mono", monospace;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    outline: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
.o {
    background: transparent;
    border: 0;
    color: #555;
    font-family: "Ubuntu Mono", monospace;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    outline: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
.orderedlist {
    background: transparent;
    border: 0;
    display: block;
    font-size: 1em;
    list-style-type: decimal;
    margin-bottom: 8px;
    margin-left: 20px;
    margin-right: 0;
    margin-top: 8px;
    outline: 0;
    padding-bottom: 0;
    padding-left: 25px;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
.ow {
    background: transparent;
    border: 0;
    color: #000;
    font-family: "Ubuntu Mono", monospace;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    outline: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
.p {
    background: transparent;
    border: 0;
    color: #000;
    font-family: "Ubuntu Mono", monospace;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    outline: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
.programlistingjavascript {
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    background: transparent;
    border: 0;
    display: block;
    font-family: "Ubuntu Mono", monospace;
    font-size: 0.75em;
    hyphens: none;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 0;
    margin-top: 10px;
    outline: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline;
    white-space: pre-wrap
    }
.s {
    background: transparent;
    border: 0;
    color: #C30;
    font-family: "Ubuntu Mono", monospace;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    outline: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
.se {
    background: transparent;
    border: 0;
    color: #C30;
    font-family: "Ubuntu Mono", monospace;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    outline: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
.sr {
    background: transparent;
    border: 0;
    color: #3AA;
    font-family: "Ubuntu Mono", monospace;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    outline: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
.ss {
    background: transparent;
    border: 0;
    color: #FC3;
    font-family: "Ubuntu Mono", monospace;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    outline: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
.title {
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    background: transparent;
    border: 0;
    display: block;
    font-family: "Free Sans Bold", sans-serif;
    font-size: 2em;
    font-weight: bold;
    hyphens: none;
    line-height: 1.2;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    outline: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    vertical-align: baseline
    }
.title1 {
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    background: transparent;
    border: 0;
    display: block;
    font-family: "Free Sans Bold", sans-serif;
    font-size: 2em;
    font-weight: bold;
    hyphens: none;
    line-height: 1.2;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    outline: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
.title2 {
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    background: transparent;
    border: 0;
    display: block;
    font-family: "Free Sans Bold", sans-serif;
    font-size: 1.41667em;
    font-weight: bold;
    hyphens: none;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    outline: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
.title3 {
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    background: transparent;
    border: 0;
    color: #8e0012;
    display: block;
    font-family: "Free Sans Bold", sans-serif;
    font-size: 1.41667em;
    font-weight: bold;
    hyphens: none;
    line-height: 1.2;
    margin-bottom: 8px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 15px;
    outline: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
.title4 {
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    background: transparent;
    border: 0;
    display: block;
    font-family: "Free Sans Bold", sans-serif;
    font-size: 1.125em;
    font-weight: bold;
    hyphens: none;
    line-height: 1.2;
    margin-bottom: 8px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    outline: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
.title5 {
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    background: transparent;
    border: 0;
    color: #555;
    display: block;
    font-family: "Free Sans Bold", sans-serif;
    font-size: 1em;
    font-weight: 1em;
    hyphens: none;
    margin-bottom: 9px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 9px;
    outline: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
.title6 {
    background: transparent;
    border: 0;
    color: #000;
    display: block;
    font-family: "Free Serif", serif;
    font-size: 0.75em;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 8px;
    outline: 0;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    page-break-after: avoid;
    page-break-before: avoid;
    text-align: center;
    vertical-align: baseline
    }
.ulink {
    background: transparent;
    border: 0;
    color: #8e0012;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    outline: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-decoration: none;
    vertical-align: baseline
    }
.vi {
    background: transparent;
    border: 0;
    color: #033;
    font-family: "Ubuntu Mono", monospace;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    outline: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
